h1{
    text-align: center;
    color: brown;
    font-size: 60px;
    text-size-adjust: 40px;
    background-color: aquamarine;
}
h2{
    text-align: center;
    color:#2f9914;
    font-size: 60px;
    text-size-adjust: 40px;
    background-color: #ed09d3;
}
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
body{
    background-color:wheat;
}

/* for desktop */
.whatsapp_float {
  position:fixed;
  width:100px;
  height:100px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
         font-size:65px;
  box-shadow: 2px 2px 3px #999;
         z-index:100;
 }
 
 .whatsapp-icon {
  margin-top:16px;
 }
 /* for mobile */
 @media screen and (max-width: 767px){
      .whatsapp-icon {
   margin-top:100px;
      }
     .whatsapp_float {
         width: 40px;
         height: 40px;
         bottom: 20px;
         right: 10px;
         font-size: 35px;
     }
 }











